<div class="navbar-profile">
  <%= link_to root_path do %>
    <%= image_tag "logo_spotter.svg" %>
  <% end %>
</div>
<div class="banner-profile">
  <div class="banner-grey"></div>
  <div class="banner-user-description">
  <% if @user.facebook_picture_url.present? %>
    <%= image_tag @user.facebook_picture_url, {class: "avatar-large"} %>
  <% else %>
    <%= image_tag "avatar_vide.jpg", {class: "avatar-large"} %>
  <% end %>
    <h1><%= @user.display_name %></h1>
    <% if @user.participating_events.present? %>
      <p class="poppins">Last activity: <%= @user.participating_events.first.activity.name %></p>
    <% end %>
  </div>
</div>
<div class="wrapper">
  <div class="wrapper-container-cards">
    <div class="container-cards-owner">
      <h2>Events I have organized</h2>
      <% @user.events.each do |event| %>
        <div class="card">
          <div class="card-block-left">
            <div class="block-left">
              <%= image_tag "#{event.activity.name.downcase}.png" %>
            </div>
          </div>
          <div class="card-block-right">
            <div class="block-top">
              <div class="block-top-left">
                <div class="block-top-left-left">
                  <%= image_tag 'icon-date.png' %>
                </div>
                <div class="block-top-left-right">
                  <h2><%= event.start_at.strftime("%d %b %Y") %></h2>
                  <p class="poppins"><%= event.start_at.strftime("%H:%m") %> - <%= event.end_at.strftime("%H:%m") %></p>
                </div>
              </div>
              <div class="block-top-middle">
                <div class="block-top-middle-left">
                  <%= image_tag 'icon-place.png' %>
                </div>
                <div class="block-top-middle-right">
                  <h2>Address</h2>
                  <p class="poppins"><%= event.address %></p>
                </div>
              </div>
              <div class="block-top-right">
                <div class="block-top-right-top">
                  <% if event.participants.count > 0 %>
                    <h2><%= event.participants.count %> <%= "participant".pluralize(event.participants.count)%></h2>
                  <% else %>
                    <h2>No participants yet</h2>
                  <% end %>
                </div>
                <div class="block-top-right-bottom">
                  <% event.participants.first(2).each do |participant| %>
                    <div class="event-participant-picture">
                      <% if participant.facebook_picture_url.present? %>
                        <%= link_to user_path(participant) do %>
                          <%= image_tag participant.facebook_picture_url, {class: "avatar"} %>
                          <% end %>
                      <% else %>
                        <%= link_to user_path(participant) do %>
                          <%= image_tag "avatar_vide.jpg", {class: "avatar"} %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="block-bottom">
              <div class="block-bottom-left-first see-button">
                <%= link_to event_path(event) do %>
                  <p class="text-center">SEE EVENT</p>
                <% end %>
              </div>
              <div class="block-bottom-left-second cancel-button">
                <%= link_to do %>
                  <p class="text-center">CANCEL EVENT</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if @user == current_user %>
    <div class="wrapper-container-cards">
      <div class="container-cards-participant">
        <h2>Events I'm participating in</h2>
        <% @user_participations.each do |participation| %>
          <div class="card">
            <div class="card-block-left">
              <div class="block-left">
                <%= image_tag "#{participation.event.activity.name.downcase}.png" %>
              </div>
            </div>
            <div class="card-block-right">
              <div class="block-top">
                <div class="block-top-left">
                  <div class="block-top-left-left">
                    <%= image_tag 'icon-date.png' %>
                  </div>
                  <div class="block-top-left-right">
                    <h2><%= participation.event.start_at.strftime("%d %b %Y") %></h2>
                    <p class="poppins"><%= participation.event.start_at.strftime("%H:%m") %> - <%= participation.event.end_at.strftime("%H:%m") %></p>
                  </div>
                </div>
                <div class="block-top-middle">
                  <div class="block-top-middle-left">
                    <%= image_tag 'icon-place.png' %>
                  </div>
                  <div class="block-top-middle-right">
                    <h2>Address</h2>
                    <p class="poppins"><%= participation.event.address %></p>
                  </div>
                </div>
                <div class="block-top-right">
                  <div class="block-top-right-top">
                    <h2><%= participation.event.participants.count %> <%= "participant".pluralize(participation.event.participants.count)%></h2>
                  </div>
                  <div class="block-top-right-bottom">
                    <% participation.event.participants.first(2).each do |participant| %>
                      <div class="event-participant-picture">
                        <% if participant.facebook_picture_url.present? %>
                          <%= link_to user_path(participant) do %>
                            <%= image_tag participant.facebook_picture_url, {class: "avatar"} %>
                          <% end %>
                        <% else %>
                          <%= link_to user_path(participant) do %>
                            <%= image_tag "avatar_vide.jpg", {class: "avatar"} %>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="block-bottom">
                <div class="block-bottom-left-first see-button">
                  <%= link_to event_path(participation.event) do %>
                    <p class="text-center">SEE EVENT</p>
                  <% end %>
                </div>
                <div class="block-bottom-left-second see-button">
                  <%= link_to do %>
                    <p class="text-center">CANCEL PARTICIPATION</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="footer">
  <p class="poppins text-center">“One man can be a crucial ingredient on a team, but one man cannot make a team.” - Kareem Abdul-Jabbar (NBA)</p>
  <p class="poppins text-center">Made with love by Emily, Audrey, Mathieu and Sebastien</p>
</div>
