<div class="navbar-profile">
  <%= link_to root_path do %>
    <%= image_tag "logo_spotter.svg" %>
  <% end %>
</div>
<div class="banner-grey"></div>

<div class="banner-profile text-center">
  <div class="banner-user-description">
    <% if @user.facebook_picture_url.present? %>
      <%= image_tag @user.facebook_picture_url, {class: "avatar-large"} %>
    <% else %>
      <%= image_tag "avatar_vide.jpg", {class: "avatar-large"} %>
    <% end %>
    <h1><%= @user.display_name %></h1>
    <p class="poppins">
      <% if @user.participating_events.present? %>
        Last activity: <%= @user.participating_events.last.activity.name %>
      <% else %>
        No activity yet - In the starting blocks!
      <% end %>
    </p>
  </div>
</div>

<div class="wrapper-dark">
  <div class="container">
    <h2>Events <%= @user.first_name %> is organizing</h2>
  </div>
</div>

<% if @user.events.present? %>

  <div class="container">
    <% @user.events.each do |event| %>
      <div class="card">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="event-card-picture text-center">
              <%= image_tag "#{event.activity.name.downcase}.png" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="event-card-info">
                  <div class="event-card-info-picto">
                    <%= image_tag 'icon-date.png' %>
                  </div>
                  <div class="event-card-info-data">
                    <h2><%= event.start_at.strftime("%d %b %Y") %></h2>
                    <p class="poppins"><%= event.start_at.strftime("%H:%m") %> - <%= event.end_at.strftime("%H:%m") %></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="event-card-info">
                  <div class="event-card-info-picto">
                    <%= image_tag 'icon-place.png' %>
                  </div>
                  <div class="event-card-info-data">
                    <h2>Address</h2>
                    <p class="poppins"><%= event.address %></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="event-card-participants">
                  <div class="event-card-participants-data">
                    <h2 class="text-center"><%= event.participants.count %> <%= "participant".pluralize(event.participants.count)%></h2>
                  </div>
                  <div class="event-card-participants-photo">
                    <% event.participants.first(3).each do |participant| %>
                      <div class="event-participant-picture">
                        <% if participant.facebook_picture_url.present? %>
                          <%= link_to user_path(participant) do %>
                            <%= image_tag participant.facebook_picture_url, {class: "avatar"} %>
                          <% end %>
                        <% else %>
                          <%= link_to user_path(participant) do %>
                            <%= image_tag "avatar_vide.jpg", {class: "avatar"} %>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="event-buttons">
                    <div>
                      <%= link_to "SEE EVENT", event_path(event), {class: "btn see-button"} %>
                    </div>
                    <% if event.user == current_user %>
                      <div>
                        <%= link_to "DELETE EVENT", event_path(event), method: :delete, data: {confirm: "Do you really want to delete this event?"},  class: "btn cancel-button" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>

  <div class="no-event text-center">
    <%= image_tag "no-result.png" %>
    <p><%= @user.first_name %> hasn't organized any event yet...</p>
  </div>
<% end %>

<div class="wrapper-dark">
  <div class="container">
    <h2>Events <%= @user.first_name %> is participating in</h2>
  </div>
</div>

<% if @user_participations.present? %>

  <div class="container">
    <% @user_participations.each do |participation| %>
      <div class="card">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="event-card-picture text-center">
              <%= image_tag "#{participation.event.activity.name.downcase}.png" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="event-card-info">
                  <div class="event-card-info-picto">
                    <%= image_tag 'icon-date.png' %>
                  </div>
                  <div class="event-card-info-data">
                    <h2><%= participation.event.start_at.strftime("%d %b %Y") %></h2>
                    <p class="poppins"><%= participation.event.start_at.strftime("%H:%m") %> - <%= participation.event.end_at.strftime("%H:%m") %></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="event-card-info">
                  <div class="event-card-info-picto">
                    <%= image_tag 'icon-place.png' %>
                  </div>
                  <div class="event-card-info-data">
                    <h2>Address</h2>
                    <p class="poppins"><%= participation.event.address %></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="event-card-participants">
                  <div class="event-card-participants-data">
                    <h2 class="text-center"><%= participation.event.participants.count %> <%= "participant".pluralize(participation.event.participants.count)%></h2>
                  </div>
                  <div class="event-card-participants-photo">
                    <% participation.event.participants.first(3).each do |participant| %>
                      <div class="event-participant-picture">
                        <% if participant.facebook_picture_url.present? %>
                          <%= link_to user_path(participant) do %>
                            <%= image_tag participant.facebook_picture_url, {class: "avatar"} %>
                          <% end %>
                        <% else %>
                          <%= link_to user_path(participant) do %>
                            <%= image_tag "avatar_vide.jpg", {class: "avatar"} %>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="event-buttons">
                    <div>
                      <%= link_to "SEE EVENT", event_path(participation.event), {class: "btn see-button"} %>
                    </div>
                    <% if participation.user == current_user %>
                      <div>
                        <%= link_to "CANCEL PARTICIPATION", participation_path(participation), method: :delete, data: {confirm: "Do you really want to cancel your participation?"}, class: "btn cancel-participation-button" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>

  <div class="no-event text-center">
    <%= image_tag "no-result.png" %>
    <p><%= @user.first_name %> hasn't participated to any event yet...</p>
  </div>
<% end %>

<!-- </div> -->

<%= render 'shared/footer' %>
