<div class="wrapper">
  <div class="class-avatar">
  </div>
  <h1>Ses prochaines sessions</h1>
  <div class="class-event">
    <div class="container">
      <% @user.events.each do |event| %>
        <div class="row">
          <div class="col-xs-3">
            <%= image_tag 'icon-date.png' %>
          </div>
          <div class="col-xs-3">
            <div class="activity-card">
              <div class="acivity-date-logo">
                <%= image_tag 'icon-date.png' %>
              </div>
              <div class="activity-date">
              <%= event.start_at %>
              <%= event.end_at %>
              </div>
              <div class="activity-button">
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="activity-address-logo">
            <%= image_tag 'icon-place.png' %>
            </div>
            <div class="activity-address">
                <%= event.address %>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="activity-participants">
              <% if event.participants.count > 0 %>
                <p><%= event.participants.count %>
                <%= "participant".pluralize(event.participants.count) %></p>
              <% else %>
                <p>No participants yet</p>
              <% end %>
              <div class="avatar-participants">
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
