
<div class="wrapper" style="background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%), url(<%= image_url('background_homepage.jpg') %>)">
  <div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 hidden-xs hidden-sm">
          <div class="mycard">
            <%= image_tag 'spotter-mobile.png' %>
          </div>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="flex-content">
            <div class="mytext">
              <%= image_tag 'logo_spotter.png' %>
              <h1>Stop training on your own</h1>
              <!-- <h1>Don't train alone anymore</h1> -->
              <p>Join us for fun and efficient activities</p>
              <!-- <p>Join us and your trainings will be more efficient and more fun.</p> -->
            </div>
            <div class="btn-block">
              <div class="fb-messengermessageus messenger-btn"
                messenger_app_id="<%= ENV["APP_ID"] %>"
                page_id="<%= ENV["PAGE_ID"] %>"
                color="white"
                size="xlarge">
              </div>
              <div class="btn btn-profile">
                <%= link_to "View my profile", omniauth_authorize_path(:user, :facebook), {class: "link"} %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="community-section">
    <div class="testimonial-container text-center">
      <p>Take part of Spotter's fantastic community</p>
    </div>
    <div class="item-container">
      <% User.all.sample(19).each do |user| %>
        <div class="user">
          <% unless user.facebook_picture_url.nil? %>
            <%= image_tag user.facebook_picture_url, {class: "avatar"} %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="comments">
      <p class="poppins text-center"><strong>“One man can be a crucial ingredient on a team, but one man cannot make a team.” - Kareem Abdul-Jabbar (NBA)</strong></p>
      <p class="poppins text-center credits">Made with love by Emily, Audrey, Mathieu and Sebastien</p>
    </div>
  </div>
</div>





